html {
    scroll-behavior: smooth;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
}

#home {
    color: white;
    background-image: url("assets/Home\ Screen.png");
    background-size: cover;
}

.home-btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
}

#about,
#rooms,
#services,
#quotes,
footer {
    padding: 50px 150px;
}

#about h3,
#rooms h3,
#services h3,
#quotes h3 {
    font-size: medium;
    font-weight: 500;
    text-align: center;
}

#about img {
    padding: 10px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 45px;
}

.text-orange {
    color: orange
}

.about-layout1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}

.about-div-para {
    margin: 30px 0px
}

.about-layout1-text {
    width: 50%;
}

.text-bold {
    font-weight: 600;
}

.text-light {
    opacity: 0.4;
}

.text1 {
    font-size: 36px;
    margin: 0px;
    font-weight: bolder;
    text-align: center;
}

.text2 {
    margin: 0;
    text-align: center;
}

.counter-values {
    width: 10%;
}

#counter {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
    background-color: #FF8D41;
    color: white;
}

#rooms h1,
#services h1,
#quotes h1 {
    text-align: center;
}

#rooms {
    background-color: #F8F9FB;
    padding: 100px 50px;
}

.room-card {
    margin-top: 50px;
    width: 380px;
    background-color: white;
}

.room-card img {
    width: 100%;
}

.room-card p {
    margin: 0;
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
}

.room-card div {
    padding: 15px 10px;
}

.rooms-layout {
    display: flex;
    justify-content: space-evenly;
}

.service-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    border: 1px solid gainsboro;
}

.service-card img {
    width: 10%;
}

.service-card h4,
.service-card p {
    margin: 5px;
}

.grid-3col {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
}

.qutoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 298px;
    padding: 10px 24px;
}

.contacts {
    text-align: center;
    margin-top: 24px;
    padding: 5px;
}

.title-quote {
    text-align: center;
}

.contacts h4,
.contacts p {
    margin: 5px 0;
}

.quote-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer1 p {
    margin: 0;
}

.footer1 {
    width: 280px
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: white;
}

hr {
    height: 2px;
    background-color: black;
    border: none;
    width: 30px;
    display: inline;
    margin: 0 5px;
}