body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Home\ Screen.png");
    background-size: cover;
}

#home {
    color: white
}

.home-btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: small;
}